@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body > #root > div {
    font-family: 'Roboto';
	font-weight: 600;
    height: 100vh;
    overflow: hidden;
  }

.centered-div{
    background-color: #f8f9fb;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px));
    align-items: center;
}

.header-div {
    padding-left: 3rem;
}

.checkout-page-hr {
    margin: 0.3rem;
    padding: 0.1rem;
    width: 3rem;
    background-color: #338ee6;
}

.body-div {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-card-price {
    margin: auto;
}

.product-card {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px -2px rgba(0,0,0,0.45)
}

.product-card > h2 {
    width: 50%;
    margin: 1rem;
}

.product-card-button {
    background-color:#15a136;
    border-color: #15a136;
    color: white;
    margin: 1rem;
    border-radius: 5px;
    padding: 1px 6px;
    border-width: 2px;
}

.product-card-button:hover {
    background-color: #2fc152;
    border-color: #2fc152;
}

.product-list {
    margin: 1rem;
    padding: 1rem;
    width: 60%;
    float: left;
}

.quantity-no {
    border: none;
    text-decoration: none;
    text-align: right;
    width: 4rem;
}

.shopping-cart {
    margin: 1rem;
    padding: 1rem;
    background-color: #f0f3f8;
    border-radius: 5px;
    box-shadow: inset 0px 0px 4px -2px rgba(0,0,0,0.45);
    width: 40%;
    float: right;
}

.shopping-cart-inside {
    padding: 1rem;
}

.table-cart {
    margin: 1rem;
    border-collapse: collapse;
    width: 100%;
}

.table-cart tr {
    height: 2rem;
    width: 100%;
}

.table-cart tr > td:nth-child(1) {
    width: 30%;
}

.table-cart tr > td:nth-child(2) {
    width: 10%;
}

.table-cart tr > td:nth-child(3) {
    width: 25%;
}

.table-cart tr > td:nth-child(4) {
    width: 10%;
}

.cart-item {
    display: inline-flex;
}
